header{
    background-color: #3B5998;
    height:60px;
    width:100%;
}

h1{
	margin:0px;
}

header h1{
    padding-left: 25px;
    	padding-top:18px;
	float:left;
	margin:0px;
    color:white;
    font-size:2.0em;
    font-family:"lucida grande";
}

header img{
	float:left;
	padding-left:25px;
	padding-right:25px;
	padding-top:5px;
}

ul{
   	font-size:1.0em;
}

li{
	font-size: 1.0em;

}


a{
	display: block;
	width:200px;
	height:60px;


    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
	-webkit-align-self: center;

	margin: 0 auto;
	text-align:center;
	background:#3B5998;
	border-radius:5px;
	color:white;
	font-family:"lucida grande";
	font-size:1.5em;
}

p{
	margin-top: 80px;
	margin-right:110px;
	margin-left:110px;
	margin-bottom: 50px;
	text-align: center;
	font-family:"lucida grande";
	font-size:1.5em;
}

table{
	display:block;
	float:right;
	height:700px;
	font-family:"lucida grande";
	font-size: 28px;
	overflow:scroll;
}

#container{
	float:left;
}

.user-picture {
	width:100px;
	height:auto;
}
