header{
    background-color: #3B5998;
    height:50px;
    width:100%;
}

header h1{
    padding-left: 25px;
    padding-top:20px;
    color:white;
    font-size:1.5em;
}

ul{
   	font-size:1.25em;
}

li{
	font-size: 1.0em;

}

header a{
	float:right;
	display: block;
	width:150px;
	height:25px;
	background:#3B68AD;
	text-align:center;
	border-radius:5px;
	color:white;

}
