<!doctype html>
<html>
<head>
	<title>Dearstalker</title>
	 <link rel="stylesheet" href="/static/css/style.css">
</head>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/highcharts.js"></script>

<body>
    <header><h1>Dear Stalker - {{me.name}}</h1></header>
	<div id = "graph">
	    <ul id="threads">
		{% for user in users %}
		<li>
		{{user.name}}: {{sentiment[user.id].outlook}} , {{sentiment[user.id].romance}}
		</li>
		{% endfor %}
	    </ul>
	</div>
	<div id="container" style="width:100%; height:400px;"></div>
	<script>
	var sentiment = {{sentiment|tojson|safe}};
	$(function () { 
    $('#container').highcharts({
        chart: {
            type: 'scatter',
        },
        title: {
            text: 'Sentiment Anaylsis of Facebook Messages'
        },
        xAxis: {
            title:{enabled:true, text:'Outlook'},
		startOnTick:true, endOnTick:true, showLastLabel:true
        },
        yAxis: {
            title: {
                text: 'Romance'
            }
        },
            plotOptions: {
                scatter: {
                    marker: {
                        radius: 5,
                        states: {
                            hover: {
                                enabled: true,
                                lineColor: 'rgb(100,100,100)'
                            }
                        }
                    },
                    states: {
                        hover: {
                            marker: {
                                enabled: false
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '<b>{series.name}</b><br>',
                        pointFormat: '{point.x}, {point.y}'
                    }
                }
            },
        series: [{
/*This needs to be fixed*/
            name: 'Jane',
            data: [1, 0, 4]
        }, {
            name: 'John',
            data: [5, 7, 3]
        }]
    });
});
		</script>
</body>
