<!doctype html>
<html>
<head>
    <title>Dearstalker</title>
    <link rel="stylesheet" href="/static/css/style.css?2">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/highcharts.js"></script>
    <script src='/static/js/facebook.js?1234'></script>
</head>
<body>
    <!-- Load and initialize Facebook JS SDK -->
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        // init the FB JS SDK
        FB.init({
          appId      : '602984353081540',                        // App ID from the app dashboard
          channelUrl : '/channel.html', // Channel file for x-domain comms
          status     : true,                                 // Check Facebook Login status
          xfbml      : true                                  // Look for social plugins on the page
        });

        // Additional initialization code such as adding Event Listeners goes here
        if (typeof facebookInit === 'function') {
          facebookInit();
        }
      };

      // Load the SDK asynchronously
      (function(){
         // If we've already installed the SDK, we're done
         if (document.getElementById('facebook-jssdk')) {return;}

         // Get the first script element, which we'll use to find the parent node
         var firstScriptElement = document.getElementsByTagName('script')[0];

         // Create a new script element and set its id
         var facebookJS = document.createElement('script');
         facebookJS.id = 'facebook-jssdk';

         // Set the new script's source to the source of the Facebook JS SDK
         facebookJS.src = '//connect.facebook.net/en_US/all.js';

         // Insert the Facebook JS SDK into the DOM
         firstScriptElement.parentNode.insertBefore(facebookJS, firstScriptElement);
       }());
    </script>

    <header>
	<img src="static/img/deerstalker.jpg">
	<h1>Dear Stalker</h1>
	</header>
   <div id="container" style="width:700px; height:700px;"></div>
    <script>
        var sentiment = {{sentiment|tojson|safe}};
        var users = {{users|tojson|safe}};
        var accessToken = '{{ access_token }}';

        function facebookInit() {
          Facebook().me(function (user) {
            var name = user.name;
            $('header h1').append(' - ' + name);
          });

          users.forEach(function (user) {
            var user_id = user.id;
            Facebook().profile(user_id, function (user) {
              var picture_url = user.picture.data.url;
            });
          });
        }


/**
 * Grid theme for Highcharts JS
 * @author Torstein Hønsi
 */

Highcharts.theme = {
   colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4'],
   chart: {
      backgroundColor: {
         linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
         stops: [
            [0, 'rgb(255, 255, 255)'],
            [1, 'rgb(240, 240, 255)']
         ]
      },
      borderWidth: 2,
      plotBackgroundColor: 'rgba(255, 255, 255, .9)',
      plotShadow: true,
      plotBorderWidth: 1
   },
   title: {
      style: {
         color: '#000',
         font: 'bold 16px "Trebuchet MS", Verdana, sans-serif'
      }
   },
   subtitle: {
      style: {
         color: '#666666',
         font: 'bold 12px "Trebuchet MS", Verdana, sans-serif'
      }
   },
   xAxis: {
      min:-10,
	max:10,
	gridLineWidth: 1,
      lineColor: '#000',
      tickColor: '#000',
      labels: {
         style: {
            color: '#000',
            font: '11px Trebuchet MS, Verdana, sans-serif'
         }
      },
      title: {
         style: {
            color: '#333',
            fontWeight: 'bold',
            fontSize: '12px',
            fontFamily: 'Trebuchet MS, Verdana, sans-serif'

         }
      }
   },
   yAxis: {
	min:-10,
	max:10,
      minorTickInterval: 'auto',
      lineColor: '#000',
      lineWidth: 1,
      tickWidth: 1,
      tickColor: '#000',
      labels: {
         style: {
            color: '#000',
            font: '11px Trebuchet MS, Verdana, sans-serif'
         }
      },
      title: {
         style: {
            color: '#333',
            fontWeight: 'bold',
            fontSize: '12px',
            fontFamily: 'Trebuchet MS, Verdana, sans-serif'
         }
      }
   },
   legend: {
      itemStyle: {
         font: '9pt Trebuchet MS, Verdana, sans-serif',
         color: 'black'

      },
      itemHoverStyle: {
         color: '#039'
      },
      itemHiddenStyle: {
         color: 'gray'
      }
   },
   labels: {
      style: {
         color: '#99b'
      }
   },

   navigation: {
      buttonOptions: {
         theme: {
            stroke: '#CCCCCC'
         }
      }
   }
};

// Apply the theme
var highchartsOptions = Highcharts.setOptions(Highcharts.theme);

        $(function () {
            $('#container').highcharts({
                chart: {
                    type: 'scatter',
                },
                title: {
                    text: 'Sentiment Anaylsis of Facebook Messages'
                },
                xAxis: {
                    title:{enabled:true, text:'Outlook'},
	       	plotLines: [{ color: '#000000', width: 3 , value: 0}],
                startOnTick:true, endOnTick:true, showLastLabel:true
                },
                yAxis: {
                    title: {
                        text: 'Volume'
                    },
		plotLines: [{ color: '#000000', width: 3 , value: 0}]

                },
                plotOptions: {
                    scatter: {
                        marker: {
                            radius: 5,
                            states: {
                                hover: {
                                    enabled: true,
                                    lineColor: 'rgb(100,100,100)'
                                }
                            }
                        },
                        states: {
                            hover: {
                                marker: {
                                    enabled: false
                                }
                            }
                        },
                        tooltip: {
                            headerFormat: '<b>{series.name}</b><br>',
                            pointFormat: '{point.x}, {point.y}'
                        }
                    }
                },
                series: [
		{% for user in users %}
            		{name: '{{user.name}}', data:[[ {{sentiment[user.id].outlook}} , {{sentiment[user.id].volume}}]] },
            	{% endfor %}
           	]});
        });
    </script>
</body>
